*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Beware of copyrights
app/src/main/res/drawable/students.png 
app/src/main/res/drawable/newstudent.png
app/src/main/res/drawable/classroom2.png 
app/src/main/res/drawable/blackboard.png 
